@{
    ViewData["Title"] = "Config Portal";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/config.css">
</head>

<body>
    <div class="container text-center">
        <a class="btn btn-primary btn-game" asp-area="" asp-controller="Role" asp-action="Create">Add New Role</a>
        <a class="btn btn-primary btn-game" asp-area="" asp-controller="Role" asp-action="Assign">Assign Role</a>
    </div>
</body>

</html>
