/* custom.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    height: 100vh;
    position: fixed;
}

.nav-link {
    color: #fff !important;
}

    .nav-link:hover {
        color: #ba1414 !important;
    }

.main-content {
    margin-left: 250px; /* Adjust based on sidebar width */
}

.footer {
    text-align: center;
}

.gray-background {
    background-color: lightgray;
}
.white-background {
    background-color: whitesmoke;
}

.highlighted-event {
    border: 4px solid black; 
}



.center-align {
    text-align: center;
}

#suppliersListContent {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between blocks as needed */
}

.supplier-block {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 100px; /* Adjust the minimum width as needed */
}

.event-tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
    pointer-events: none;
}
.fc-event-main .centered-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.fc-timeline-header-row.fc-timeline-header-row-chrono {
    width: 100%;
}
.centered-event {
    text-align: center;
}

.event-title {
    font-size: 1.2em;
    font-weight: bold;
}

.event-supplier-code {
    font-size: 0.9em;
    color: gray;
}

.event-completion {
    font-size: 0.9em;
    color: green;
}
.centered-event {
    position: relative;
}

.event-gif {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
}

