@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Existing links and scripts -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Manage_Receive_Issues_Goods.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.15/index.global.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="~/js/_layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <link rel="stylesheet" href="~/css/layout.css">
</head>
<body onload="checkSidebarState(); highlightActiveLink();">
    <div id="mySidebar" class="sidebar">
        <h1 class=" text-light"><b><i>DENSO</i> <br>Manage RIG</b></h1>

        @if (SignInManager.IsSignedIn(User))
        {

            <img src="~/images/defaultAvatar.png" alt="Avatar" class="rounded-circle" style="width: 250px; height: 250px; margin-left: -16px;" />
            
            <h4 class="text-light text-center"><b>@User.Identity.Name</b></h4>

        
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="nav-link text-light" asp-area="" asp-controller="TLIPWarehouse" asp-action="ScheduleReceive">TLIP</a>
            <a class="nav-link text-light" asp-area="" asp-controller="DensoWarehouse" asp-action="ScheduleReceive">Denso</a>
            <a class="nav-link text-light" asp-area="" asp-controller="Important" asp-action="Index">Important</a>

            <form method="post" asp-controller="Account" asp-action="Logout">
                <button type="submit" style="width:auto" class="nav-link btn btn-link py-0">
                    Logout
                </button>
            </form>
        }
    </div>

    <div id="main">
        <button class="openbtn" onclick="toggleNav()">☰ </button>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><b>@ViewData["Title"]</b></h1>
        </div>
        @RenderBody()
    </div>

    <div id="loadingOverlay" style="display: none;">
        @* <img src="~/images/skibidi11.gif" alt="Loading..." /> *@
        @* <img src="~/images/loadingIcon.gif" alt="Loading..." /> *@
        <img src="~/images/densoDance.gif" alt="Loading..." />
    </div>
</body>
</html>
