@{
    ViewData["Title"] = "RECEIVED Goods Schedule (TLIP)";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/custom.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
     <link href= 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'> 
    <script src= 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script> 
    <script src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> 
    <style>

        /*   body {
                font-family: "Lato", sans-serif;
                background-image: url('/images/white.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
            } */

        .marquee {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
        }

        .marquee-content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            top: 245px;
            right: 0;
        }

            .marquee-content > div {
                display: inline-block;
                margin-right: 20px;
                white-space: nowrap;
                flex-shrink: 0;
            }

        .supplier-block {
            background-color: #f0f0f0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: inline-block;
            word-wrap: break-word;
            white-space: nowrap;
        }

    </style>


</head>
<body>
    <div style="display: flex; gap: 10px;">
        <a class="nav-link btn btn-dark" asp-area="" asp-controller="TLIPWarehouse" asp-action="ScheduleReceive">Received</a>
        <a class="nav-link btn btn-dark" asp-area="" asp-controller="TLIPWarehouse" asp-action="ScheduleIssued">Issued</a>
        <a class="nav-link btn btn-dark" asp-area="" asp-controller="TLIPWarehouse" asp-action="SupplierList">Supplier List</a>
        <a class="nav-link btn btn-dark" asp-area="" asp-controller="TLIPWarehouse" asp-action="PLanList">Plan List</a>
    </div>  
    @*  <div></div><br>
    <div></div><br>
    <div></div> *@
    <!-- Suppliers List -->
    <div id="suppliersList">
        <h3><strong><i>Suppliers for Today</i></strong></h3>

        <div class="marquee">
            <div class="marquee-content" id="suppliersListContent"></div>
        </div>
    </div>

    <!-- Suppliers List -->
    @*   <div id="suppliersList">
    <h3><strong><i>Suppliers for Today</i></strong></h3>
    <ul id="suppliersListContent"></ul>
    </div> *@
    <div></div>
    <br>
    <div></div>
    <br>
    <div></div>
    <br>
    <div></div>
    <div></div>
    <div></div>
    <div></div>


    <!-- Legend -->
    <div id="legend" style="margin-top: 20px;">
        <ul style="list-style: none; padding: 0; display: flex; gap: 20px;">
            <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #C7B44F; margin-right: 10px;"></span><i>Đang xử lý</i></li>
            <li><span style="display: inline-block; width: 20px; height: 20px; background-color: green; margin-right: 10px;"></span><i>Đã hoàn thành lên rack</i></li>
            <li><span style="display: inline-block; width: 20px; height: 20px; background-color: red; margin-right: 10px;"></span><i>Bị lỗi(Hiện tại trong trường hợp trùng Invoice)</i></li>
            <li><span style="display: inline-block; width: 20px; height: 20px; background-color: #F0F0F0; margin-right: 10px;"></span><i>Chưa có chuyến nào về</i></li>
        </ul>
    </div>
    
    <!-- Title with Real-time Clock -->
    <h1 class="center-align" style="font-style: italic;"><span id="currentTime"></span></h1>

    <!-- Calendar -->
    <div id='calendar'></div>

    <!-- Modal -->
    <div id="modalsContainer"></div>

    @section Scripts {
        <script src="~/js/tlip/calendarReceiveTLIP.js"></script>


      @*
          Do hai function này không nhận ở bên js nên phải viết thẳng vào trong file cshtml
          (hãy dùng ctr + F để tìm hai hàm này được sử dụng ở đâu)
      *@
        <script>
            function showActualModalInResource(supplierCode) {
                $.getJSON('@Url.Action("GetActualReceivedBySupplier", "TLIPWarehouse")', { supplierCode: supplierCode }, function (response) {
                    var data = response.data;
                    // Xóa modal cũ nếu tồn tại
                    var existingModal = document.getElementById('actualModal');
                    if (existingModal) {
                        existingModal.remove();
                    }

                    if (data && data.length > 0) {
                        var tableRows = data.map(actual => `
                            <tr>
                                <td>${actual.AsnNumber}</td>
                                <td>${actual.DoNumber}</td>
                                <td>${actual.Invoice}</td>
                                <td>${new Date(actual.ActualDeliveryTime).toLocaleString('vi-VN', {
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    second: '2-digit'
                                })}</td>
                            </tr>
                        `).join('');

                        var modalContent = `
                        <div class="modal fade" id="actualModal" tabindex="-1" aria-labelledby="actualModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="actualModalLabel">Chi tiết thực tế của ${supplierCode}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ASN Number</th>
                                                    <th>DO Number</th>
                                                    <th>Invoice</th>
                                                    <th>Nhận lúc</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                ${tableRows}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                        document.body.insertAdjacentHTML('beforeend', modalContent);
                        $('#actualModal').modal('show');
                    } else {
                        console.error('No data received for supplier:', supplierCode);
                          var modalContent = `
                        <div class="modal fade" id="actualModal" tabindex="-1" aria-labelledby="actualModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="actualModalLabel">Chi tiết thực tế của ${supplierCode}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ASN Number</th>
                                                    <th>DO Number</th>
                                                    <th>Invoice</th>
                                                    <th>Nhận lúc</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                        document.body.insertAdjacentHTML('beforeend', modalContent);
                        $('#actualModal').modal('show');
                    }
                }).fail(function (error) {
                    console.error('Error fetching actual received data:', error);
                });
            }









          function showPlanDetailModalInResource(supplierCode) {
                $.getJSON('@Url.Action("GetPlanDetailsBySupplierCode", "TLIPWarehouse")', { supplierCode: supplierCode }, function (response) {
                    console.log("Plan detail: ", response);
                    var data = response; // Assuming the response is the data array directly
                    // Remove old modal if it exists
                    var existingModal = document.getElementById('planDetailModal');
                    if (existingModal) {
                        existingModal.remove();
                    }

                    if (data && data.length > 0) {
                        var tableRows = data.map((plandetail, index) => `
                            <tr>
                                <td>Chuyến ${index + 1}</td>
                                 <td>${plandetail.DeliveryTime}</td>
                            </tr>
                        `).join('');

                        var modalContent = `
                        <div class="modal fade" id="planDetailModal" tabindex="-1" aria-labelledby="planDetailModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="planDetailModalLabel">Chi tiết kế hoạch của ${supplierCode}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Chuyến</th>
                                                    <th>Delivery Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                ${tableRows}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                        document.body.insertAdjacentHTML('beforeend', modalContent);
                        $('#planDetailModal').modal('show');
                    } else {
                        console.error('No data received for supplier:', supplierCode);
                        var modalContent = `
                        <div class="modal fade" id="planDetailModal" tabindex="-1" aria-labelledby="planDetailModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="planDetailModalLabel">Chi tiết kế hoạch của ${supplierCode}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Chuyến</th>
                                                    <th>Delivery Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                        document.body.insertAdjacentHTML('beforeend', modalContent);
                        $('#planDetailModal').modal('show');
                    }
                }).fail(function (error) {
                    console.error('Error fetching plan details:', error);
                });
            }



        </script>



    }
</body>
</html>
